.producrs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1440px;
  margin: 0 auto;
  gap: 20px;
}
.products {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.product {
  background-color: rgb(226, 221, 221);
}
.product img {
  width: 200px;
  display: flex;
  justify-content: center;
}
